[settings]
os=@OS_NAME@
arch=@ARCH_NAME@
compiler=@COMPILER_NAME@
compiler.version=@MAJOR_VERSION@
compiler.libcxx=@LIBCXX_NAME@
compiler.cppstd=17
build_type=Release


[tool_requires]

[buildenv]
CC=@BINARY_PATH_CC@
CXX=@BINARY_PATH_CXX@
