name: PR build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Debug

jobs:
  build_x86:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-conan-action

    - name: Conan install
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          export conan_profile=${{github.workspace}}/build/profile.txt
          ./setup_build.sh ${{github.workspace}}/build
        elif [ "$RUNNER_OS" == "Windows" ]; then
          conan install conan/conanfile_windows.txt -of=build/ -pr:b conan/profile_windows_x86_64.txt -pr:h conan/profile_windows_x86_64.txt --build=missing -s build_type=${{env.BUILD_TYPE}}
          mkdir -p ${{github.workspace}}/build
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi

      shell: bash

    - name: Install Gcovr and Lcov
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt install gcovr lcov

    - name: Configure CMake
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          export cmake_generator="Unix Makefiles"
          export cmake_coverage="-DCODE_COVERAGE=ON"
        elif [ "$RUNNER_OS" == "Windows" ]; then
          export cmake_generator="MinGW Makefiles"
          export cmake_coverage="-DCODE_COVERAGE=OFF"
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
        cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_UNIT_TESTS=ON -G "${cmake_generator}" ${cmake_coverage}
      shell: bash

    - name: Build
      run: cmake --build build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          make coverage_xml
        elif [ "$RUNNER_OS" == "Windows" ]; then
          ctest . --output-on-failure
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
      shell: bash

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: matrix.os == 'ubuntu-latest'
      with:
        name: coverage
        path: build/coverage_xml.xml

  build_NuttX_stable:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        board:
          - xmc4800-relax
          - arduino-due
          - freedom-k64f

    env:
      nuttx_version: 6161fececfb2e510cd947131634d8fa352657886
      nuttx_apps_version: c7ac7171673c5e8c12945b0c89d7a2537fd88745
      arm_none_eabi_version: 13.2.Rel1/binrel/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi

    steps:
      - name: Checkout KickCAT
        uses: actions/checkout@v4
        with:
          path: 'KickCAT'

      - name: Cache NuttX
        id: cache-nuttx
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/nuttxspace/nuttx
          key: nuttx_${{ env.nuttx_version }}

      - if: ${{ steps.cache-nuttx.outputs.cache-hit != 'true' }}
        name: Checkout NuttX
        uses: actions/checkout@v4
        with:
          repository: apache/nuttx
          path: 'nuttxspace/nuttx'
          ref: '${{ env.nuttx_version }}'

      - name: Cache NuttX Apps
        id: cache-nuttx-apps
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/nuttxspace/apps
          key: nuttx-apps_${{ env.nuttx_apps_version }}

      - if: ${{ steps.cache-nuttx-apps.outputs.cache-hit != 'true' }}
        name: Checkout NuttX Apps
        uses: actions/checkout@v4
        with:
          repository: apache/nuttx-apps
          path: 'nuttxspace/apps'
          ref: '${{ env.nuttx_apps_version }}'

      - name: Install Kconfig dependencies
        run: sudo apt-get update && sudo apt-get install -y kconfig-frontends

      - name: Cache ARM GCC Toolchain
        id: cache-arm-none-eabi
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/gcc-arm-none-eabi
          key: ${{ env.arm_none_eabi_version }}

      - if: ${{ steps.cache-arm-none-eabi.outputs.cache-hit != 'true' }}
        name: Download ARM GCC Toolchain
        run: |
          mkdir gcc-arm-none-eabi
          curl -s -L  "https://developer.arm.com/-/media/Files/downloads/gnu/${{env.arm_none_eabi_version}}.tar.xz" \
          | tar -C gcc-arm-none-eabi --strip-components=1 -xJ

      - name: Build ${{ matrix.board }}
        run: |
          export PATH="${{ github.workspace }}/gcc-arm-none-eabi/bin:$PATH"
          KickCAT/scripts/build_slave_bin.sh \
            ${{ matrix.board }} \
            ${{ github.workspace }}/nuttxspace/nuttx


  build_NuttX_master:
    runs-on: ubuntu-latest

    continue-on-error: true

    strategy:
      fail-fast: false
      matrix:
        board:
          - xmc4800-relax
          - arduino-due
          - freedom-k64f
    env:
          arm_none_eabi_version: 13.2.Rel1/binrel/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi
    steps:
      - name: checkout KickCAT
        uses: actions/checkout@v4
        with:
          path: 'KickCAT'

      - name: checkout NuttX (master)
        uses: actions/checkout@v4
        with:
          repository: apache/nuttx
          path: 'nuttxspace/nuttx'
          ref: 'master'

      - name: checkout NuttX Apps (master)
        uses: actions/checkout@v4
        with:
          repository: apache/nuttx-apps
          path: 'nuttxspace/apps'
          ref: 'master'

      - name: apt update + Kconfig
        run: |
          sudo apt update
          sudo apt install -y kconfig-frontends

      - name: Cache Arm None Eabi
        id: cache-arm-none-eabi
        uses: actions/cache@v4
        with:
          path: ${{GITHUB.WORKSPACE}}/gcc-arm-none-eabi
          key: ${{env.arm_none_eabi_version}}

      - if: ${{ steps.cache-arm-none-eabi.outputs.cache-hit != 'true' }}
        name: Download gcc-arm-none-eabi
        run: |
          # Download the latest ARM GCC toolchain prebuilt by ARM
          mkdir gcc-arm-none-eabi && \
          curl -s -L  "https://developer.arm.com/-/media/Files/downloads/gnu/${{env.arm_none_eabi_version}}.tar.xz" \
          | tar -C gcc-arm-none-eabi --strip-components 1 -xJ

      - name: Build ${{ matrix.board }}
        run: |
          export PATH="${{ github.workspace }}/gcc-arm-none-eabi/bin:$PATH"
          KickCAT/scripts/build_slave_bin.sh \
            ${{ matrix.board }} \
            ${{ github.workspace }}/nuttxspace/nuttx
